@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  margin: 0;
  padding: 0;
}

.transition-all {
  transition: all 0.3s ease-in;
}

.transition-opacity {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.prompt-container {
  height: calc(100vh - 200px);
  overflow-y: auto;
  scrollbar-width: none;
}

.prompt-container::-webkit-scrollbar {
  display: none;
}

:root {
  --cyan-500: #339af0;
}

.outlineChange input:focus {
  border-color: var(--cyan-500);
  outline: none;
  box-shadow: 0 0 0 1px var(--cyan-500);
}

.swiper-slide {
  transform: scale(0.9);
  transition: transform 0.4s ease-in-out;
  opacity: 0.7;
}

.swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 10;
}


.enter {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.exit-left {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.exit-right {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}


h1 {
  font-size: 1.75em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

.scrollbar-no-buttons::-webkit-scrollbar-button {
  display: none !important;
}